@using System.Text.Json;
@using BlazorDexie.JsModule
@using Egroo.UI.Constants
@using Egroo.UI.CacheDB
@using Egroo.UI.Models;
@using jihadkhawaja.chat.client
@using jihadkhawaja.chat.client.Core

@inherits LayoutComponentBase

@inject SessionStorage SessionStorage
@inject IUser ChatUserService
@inject NavigationManager NavigationManager
@inject StorageService StorageService
@inject IDialogService DialogService
@inject BlazorDexie.Options.BlazorDexieOptions BlazorDexieOptions
@inject VoiceCallSessionService VoiceCallSession

<MudItem ChildContent="@ClientModel.MyMudProvider" />
<MudItem ChildContent="@ClientModel.MyMudThemeProvider" />

<HubRouter OnRoutingCompleted="HandleRoutingComplete">
    <MudLayout>
        <MudAppBar Elevation="0">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            <MudText Class="mr-4">@SessionStorage?.User?.Username</MudText>
            <MudMenu>
                <ActivatorContent>
                    <div @onclick="@context.ToggleAsync" style="cursor: pointer">
                        @if (string.IsNullOrWhiteSpace(avatarData))
                        {
                            <MudAvatar Color="Color.Primary">@SessionStorage?.User?.Username?.ToUpper()[0]</MudAvatar>
                        }
                        else
                        {
                            <MudAvatar>
                                <MudImage Src="@avatarData" Alt="Profile picture image"></MudImage>
                            </MudAvatar>
                        }
                    </div>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Icon="@Icons.Material.Outlined.Settings" IconColor="Color.Default"
                    Label="Settings" Href="settings">Settings</MudMenuItem>
                    <MudDivider Class="my-1" />
                    <MudMenuItem Icon="@Icons.Material.Filled.Logout" IconColor="Color.Error"
                    OnClick="SignOut">Sign Out</MudMenuItem>
                </ChildContent>
            </MudMenu>
        </MudAppBar>
        <MudDrawer @bind-Open="IsDrawerOpen" Elevation="1">
            <MudDrawerHeader>
                <MudImage Src="_content/Egroo.UI/favicon-32x32.png" Alt="Egroo.org" Width="32" Height="32" Class="mr-4" />
                <MudText Typo="Typo.h6">Egroo</MudText>
            </MudDrawerHeader>
            <NavMenu />
        </MudDrawer>

        <MudMainContent>
            <VoiceCallOverlay />
            @Body
        </MudMainContent>
    </MudLayout>
</HubRouter>

@code {
    bool IsDrawerOpen = true;
    string? avatarData;
    private EgrooDB CacheDB { get; set; } = null!;

    private void HandleRoutingComplete()
    {
        CacheDB = new EgrooDB(BlazorDexieOptions);
        _ = FetchAvatar();
    }

    private void DrawerToggle()
    {
        IsDrawerOpen = !IsDrawerOpen;
    }

    private async Task SignOut()
    {
        bool? result = await DialogService.ShowMessageBoxAsync(
            "Warning",
            "Are you sure you want to logout? All your locally saved messages will be deleted.",
            yesText: "Logout", cancelText: "Cancel");

        if (!result.HasValue || !result.Value)
        {
            return;
        }

        await VoiceCallSession.LeaveCallAsync(false);

        switch (ClientModel.CurrentFrameworkPlatform)
        {
            case FrameworkPlatform.MAUI:
                string path = Path.Combine(ClientModel.AppDataPath);
                StorageService.DeleteDirectory(path);
                break;
            case FrameworkPlatform.WASM:
            case FrameworkPlatform.SERVER:
                await StorageService.RemoveFromLocalStorage("token");
                break;
            default:
                throw new Exception("CurrentFrameworkPlatform parameter is undefined.");
        }

        await CacheDB.Delete();

        SessionStorage.User = null;

        NavigationManager.NavigateTo("/", true);
    }

    private async Task FetchAvatar()
    {
        if (SessionStorage.User is null)
            return;

        MediaResult? avatar = await ChatUserService.GetAvatar(SessionStorage.User.Id);

        if (avatar is not null)
        {
            avatarData = SessionStorage.User?.CombineAvatarForPreview(avatar);
            await InvokeAsync(StateHasChanged);
        }
    }
}