@page "/signup"

@using FluentValidation
@using System.Text.RegularExpressions
@using MobileChat.WASM.Services;
@using System.Text.Json
@using jihadkhawaja.mobilechat.client.Interfaces
@using jihadkhawaja.mobilechat.client.Models
@layout EmptyLayout
@inject LocalStorageService LocalStorageService
@inject SessionStorage SessionStorage
@inject NavigationManager NavigationManager
@inject IChatAuth ChatAuthService
@inject IChatUser ChatUserService

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText GutterBottom Color="Color.Secondary" Typo="Typo.h6">Sign Up</MudText>
    <MudText>Already have an account? <span><MudButton Link="signin">SIGNIN</MudButton></span></MudText>

    <MudGrid Class="mt-8" Justify="Justify.Center">
        <MudItem xs="12" sm="8" md="6">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Create Account</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudForm Model="@model" @ref="@form" Validation="@(UserValidator.ValidateValue)" ValidationDelay="0">
                        <MudTextField @bind-Value="model.DisplayName"
                                      For="@(() => model.DisplayName)"
                                      Immediate="true" Required
                                      Label="Display Name" InputType="InputType.Text" />

                        <MudTextField @bind-Value="model.Username"
                                      For="@(() => model.Username)"
                                      Immediate="true" Required
                                      Label="Username" ErrorText="Invalid username." />

                        <MudTextField @bind-Value="model.Email"
                                      For="@(() => model.Email)"
                                      Immediate="true"
                                      Label="Email (Optional)" />

                        <MudTextField @bind-Value="model.Password"
                                      For="@(() => model.Password)"
                                      Immediate="true" Required
                                      T="string" Label="Password" HelperText="Choose a strong password" @ref="pwField1"
                                      InputType="InputType.Password" />

                        <MudTextField T="string"
                                      Label="Password" HelperText="Repeat the password" InputType="InputType.Password"
                                      Validation="@(new Func<string, string>(PasswordMatch))" Required />

                    </MudForm>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton OnClick="Submit" Disabled=@IsBusy ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">SUBMIT</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [Inject] ISnackbar Snackbar { get; set; }
    MudForm form;

    UserFluentValidator UserValidator;

    MudTextField<string> pwField1;
    User model = new User();
    bool IsBusy = false;

    protected override void OnInitialized()
    {
        UserValidator = new UserFluentValidator(ChatUserService);

        base.OnInitialized();
    }

    private async Task Submit()
    {
        IsBusy = true;

        await form.Validate();

        if (!form.IsValid)
        {
            Snackbar.Add("Please be sure to fill all fields.", MudBlazor.Severity.Error);
            IsBusy = false;
            return;
        }

        dynamic dynamicObj = await ChatAuthService.SignUp(model.DisplayName, model.Username, model.Email, model.Password);
        Dictionary<string, object> result = null;
        if (dynamicObj is not null)
        {
            result = JsonSerializer.Deserialize<Dictionary<string, object>>(dynamicObj);
        }

        //create user
        if (result is not null)
        {
            Guid Id = Guid.Parse(result["id"].ToString());
            string Token = result["token"].ToString();

            User user = new()
                {
                    Id = Id,
                    Token = Token
                };

            await LocalStorageService.SetLocalStorage("user", JsonSerializer.Serialize(user));

            SessionStorage.User = user;

            Program.Initialize(Program.HubConnectionURL, SessionStorage.User.Token);
            await Program.Connect();

            Snackbar.Add("User Created.", MudBlazor.Severity.Success);

            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            Snackbar.Add("Failed to sign in, Please try again", MudBlazor.Severity.Error);
        }

        IsBusy = false;
    }

    private string PasswordMatch(string arg)
    {
        if (pwField1.Value != arg)
            return "Passwords don't match";
        return null;
    }

    public class UserFluentValidator : AbstractValidator<User>
    {
        private readonly IChatUser ChatUserService;
        public UserFluentValidator(IChatUser ChatUserService)
        {
            this.ChatUserService = ChatUserService;

            RuleFor(x => x.DisplayName)
                .NotEmpty()
                .Length(3, 16)
                .WithMessage("Display name must be between 3 and 16 characters");

            RuleFor(x => x.Username)
            .Cascade(CascadeMode.Stop)
                .NotEmpty()
                .Matches(@"^[a-zA-Z0-9_]{3,16}$")
                .WithMessage("Username must be between 3 and 16 characters, and can only contain letters, numbers, and underscores.");

            //not required
            //RuleFor(x => x.Email)
            //.Cascade(CascadeMode.Stop)
            //    .NotEmpty()
            //    .EmailAddress()
            //    .WithMessage("Invalid email address.");

            // at least one lowercase letter
            // at least one uppercase letter
            // at least one digit
            // at least 8 characters and at most 15 characters
            RuleFor(x => x.Password)
            .Cascade(CascadeMode.Stop)
                .NotEmpty()
                .Matches(@"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,15}$")
                .WithMessage("Password must be between 8 and 15 characters, contain at least one uppercase letter, one lowercase letter, and one number.");
        }

        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {
            var result = await ValidateAsync(ValidationContext<User>.CreateWithOptions((User)model, x => x.IncludeProperties(propertyName)));
            if (result.IsValid)
                return Array.Empty<string>();
            return result.Errors.Select(e => e.ErrorMessage);
        };
    }
}
